@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100%;
  width: 100%;
}

#carouselExampleIndicators {
  width: 100%;
  height: 100%;
}

#carouselExampleIndicators .image-carousel {
  height: 100vh;
}

.slide0 .text1 {
  position: absolute;
  top: 6%;
  left: 9%;
  width: 30%;
  font-weight: bold;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide0 .text2 {
  position: absolute;
  top: 6%;
  left: 60%;
  width: 30%;
  font-weight: bold;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide0 .text3 {
  position: absolute;
  top: 88%;
  left: 40%;
  width: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: #d6d6d6;
}

.slide0 .image1 {
  position: absolute;
  top: 10%;
  left: 42%;
  width: 15%;
  height: 30%;
}

.slide0 .image1 img {
  height: 100%;
  width: 100%;
}

.slide0 .image2 {
  position: absolute;
  top: 35%;
  left: 70%;
  width: 15%;
  height: 30%;
}

.slide0 .image2 img {
  height: 100%;
  width: 100%;
}

.slide0 .image3 {
  position: absolute;
  top: 65%;
  left: 70%;
  width: 15%;
  height: 30%;
}

.slide0 .image3 img {
  height: 100%;
  width: 100%;
}

.slide1 .text1 {
  position: absolute;
  top: 10%;
  left: 9%;
  width: 30%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide1 .image1 {
  position: absolute;
  top: 5%;
  left: 40%;
  width: 40%;
  height: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide1 .image1 img {
  height: 100%;
  width: 100%;
}

.slide1 .image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 45%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide1 .image2 img {
  height: 100%;
  width: 100%;
}

.slide1 .image3 {
  position: absolute;
  top: 20%;
  left: 72%;
  width: 25%;
  height: 35%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide1 .image3 img {
  height: 100%;
  width: 100%;
}

.slide2 .text1 {
  position: absolute;
  top: 52%;
  left: 3%;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide2 .image1 {
  position: absolute;
  top: 2%;
  left: 6%;
  width: 45%;
  height: 46%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide2 .image1 img {
  height: 100%;
  width: 100%;
}

.slide2 .text2 {
  position: absolute;
  top: 3%;
  left: 52%;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide2 .image2 {
  position: absolute;
  top: 52%;
  left: 55%;
  width: 40%;
  height: 45%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide2 .image2 img {
  height: 100%;
  width: 100%;
}

.slide3 .image1 {
  position: absolute;
  top: 2%;
  left: 50%;
  width: 45%;
  height: 55%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide3 .image1 img {
  height: 100%;
  width: 100%;
}

.slide3 .image2 {
  position: absolute;
  top: 50%;
  left: 8%;
  width: 45%;
  height: 45%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.slide3 .image2 img {
  height: 100%;
  width: 100%;
}

.slide3 .text1 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 45%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide3 .text2 {
  position: absolute;
  top: 58%;
  left: 55%;
  width: 40%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide4 .text1 {
  position: absolute;
  top: 6%;
  left: 9%;
  width: 68%;
  font-weight: bold;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide4 .text2 {
  position: absolute;
  top: 50%;
  left: 9%;
  width: 68%;
  font-weight: bold;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.slide4 .image1 {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 15%;
  height: 30%;
}

.slide4 .image1 img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */